<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="app" ng-controller="booksController">
  <head>
      <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </head>
  <body>
  <div class="container">
      <h1>Books:</h1>
      <form th:action="@{'/books'}" method="get">

          <input  type="checkbox" th:text="${gs[0].genre}" th:name="${gs[0].getName()}" th:checked="${!fantasy.isEmpty()}" />
          <input  type="checkbox" th:text="${gs[1].genre}" th:name="${gs[1].getName()}" th:checked="${!fantastic.isEmpty()}" />
          <input  type="checkbox" th:text="${gs[2].genre}" th:name="${gs[2].getName()}" th:checked="${!mystery.isEmpty()}" />

          <br>
          <p>Минимальная цена</p>
          <input th:value="${minPrice}" name="minPrice" type="number" size="10"  required>
          <p>Максимальная цена</p>
          <input th:value="${maxPrice}" name="maxPrice" type="number" size="10"  required>
          <p>Название</p>
          <input th:value="${titlePart}" name="titlePart" type="text" size="10">
          <br><br>
          <button type="submit" class="btn btn-primary">Применить</button>
      </form>



      <table class="table table-hover" cellpadding="0" cellspacing="0">
          <tr>
              <td>Название</td>
              <td>Описание</td>
              <td>Цена</td>
              <td>Год издания</td>
              <td>Жанр</td>
          </tr>
          <tbody>
          <tr th:each="b : ${books}">
              <td th:text="${b.title}"></td>
              <td th:text="${b.description}"></td>
              <td th:text="${b.price}"></td>
              <td th:text="${b.publishYear}"></td>
              <td th:text="${b.genre.toNormalText()}"></td>
          </tr>
          </tbody>
      </table>
  </div>
  </body>

  <nav aria-label="Pagination" th:if="${books.totalPages gt 0}">
      <ul class="pagination justify-content-center font-weight-bold">
          <li class="page-item" th:classappend="${books.number eq 0} ? 'disabled'">
              <a class="page-link"
                 th:href="@{'/books?page=' + ${books.number lt 2 ? 1 : books.number} + ${fantasy.length()!=0 ? '&fantasy='+fantasy : '' } + ${fantastic.length()!=0 ? '&fantastic='+fantastic:'' } + ${mystery.length()!=0 ? '&mystery='+mystery:'' }+ ${titlePart.length()!=0 ? '&titlePart='+titlePart:'' }+${minPrice}+'&maxPrice='+${maxPrice}}"
                 aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                  <span aria-hidden="true">&laquo;</span>
              </a>
          </li>
          <li class="page-item" th:classappend="${i eq books.number + 1} ? 'active'"
              th:each="i : ${#numbers.sequence( 1, books.totalPages, 1)}">
<!--              <a class="page-link" th:href="@{'/books?page=' + ${i} + '&fantasy=' + ${fantasy} + '&fantastic=' + ${fantastic} + '&mystery=' + ${mystery}+'&minPrice='+${minPrice}+'&maxPrice='+${maxPrice}}" th:text="${i}"-->
              <a class="page-link" th:href="@{'/books?page=' + ${i} + ${fantasy.length()!=0 ? '&fantasy='+fantasy:'' } + ${fantastic.length()!=0 ? '&fantastic='+fantastic:'' } + ${mystery.length()!=0 ? '&mystery='+mystery:'' }+ ${titlePart.length()!=0 ? '&titlePart='+titlePart:'' }+'&minPrice='+${minPrice}+'&maxPrice='+${maxPrice}}" th:text="${i}"
                 th:title="${'Page '+ i}" data-toggle="tooltip"></a>
          </li>
          <li class="page-item" th:classappend="${books.number + 1 eq books.totalPages} ? 'disabled'">
              <a class="page-link"
                 th:href="@{'/books?page=' + ${books.number lt 2 ? 1 : books.number}  + ${fantasy.length()!=0 ? '&fantasy='+fantasy:'' } + ${fantastic.length()!=0 ? '&fantastic='+fantastic:'' } + ${mystery.length()!=0 ? '&mystery='+mystery:'' }+ ${titlePart.length()!=0 ? '&titlePart='+titlePart:'' }+'&minPrice='+${minPrice}+'&maxPrice='+${maxPrice}}"
                 aria-label="Next" title="Next Page" data-toggle="tooltip">
                  <span aria-hidden="true">&raquo;</span>
              </a>
          </li>
      </ul>
  </nav>
</html>