<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Продукты</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(AllProducts)}"/>

    <h2>Продукты</h2>
    <br>
    <h4>Добавить продукт:</h4>
    <form th:action="@{'/products/add'}" method="post">
        <div class="form-group">
            <label>Название</label>
            <input type="text" class="form-control form-control-sm" name="name">
        </div>
        <div class="form-group">
            <label>Цена</label>
            <input type="number" class="form-control form-control-sm" name="price">
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
    <br>
    <h4>Выборка:</h4>
    <form th:action="@{'/products/all'}" method="get">
        <div class="form-group">
            <label>Максимальная цена</label>
            <input th:value="${param.maxPrice != null ? param.maxPrice : null}" type="number"
                   class="form-control form-control-sm" name="maxPrice">
        </div>
        <button type="submit" class="btn btn-primary">Применить</button>
    </form>
    <br>
    <h4>Список продуктов:</h4>
    <span th:unless="${products.size() > 0}">Список продуктов пуст</span>
    <table class="table table-striped" th:if="${products.size() > 0}">
        <thead>
        <tr>
            <td>Id</td>
            <td>Название</td>
            <td>Цена</td>
            <td>Действие</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${products}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
            <td>
                <a class="btn btn-secondary" th:href="@{'/products/edit/' + ${p.id}}">Edit</a>
                <a class="btn btn-danger" th:href="@{'/products/delete/' + ${p.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <span th:text="'Всего продуктов :: ' + ${@productService.getProductCount()}"/>
    <br>
    <br>
</div>
</body>
</html>